<div class="lessons-page">
  <div class="date" *ngFor="let group of lessons | groupByDate">
    <p>{{group.time}}</p>
    <div class="container-wrapper" *ngFor="let lesson of group.value">
        <img [src]="lesson.subjectPhotoUrl">
        <div class="lesson-info">
          <div class="title">{{lesson.title}}</div>
          <div class="description">{{lesson.description}}</div>
        </div>
        <div class="instructor-info">
            <div class="picture"><img [src]="lesson.instructorPhotoUrl"></div>
            <div class="instructor-name">{{lesson.instructorName}}</div>
        </div> 
        <div class="time">{{lesson.time  | date:'h:mm a'}}</div>
    </div>
  </div>
</div>
